@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Playfair+Display+SC&display=swap");
:root {
  --light: #f5f7fa;
  --dark: #000000;
  --gold: #cea263;
  --accent-light: #1e3957;
  --accent-dark: #0f1f2f;
}
* {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: var(--accent-light);
}
html,
body {
  margin: 0;
}
nav {
  position: fixed;
  display: grid;
  grid-template-columns: 20% 80%;
  z-index: 10000;
  background-color: var(--light);
  width: 100%;
  height: 6vw;
  border-bottom: var(--gold) 1px solid;
}
nav > div:nth-child(1) {
  display: flex;
  align-items: center;
}
nav > div:nth-child(1) > img {
  height: 5vw;
  margin-left: 1vw;
}
nav > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 1vw;
  font-family: "playfair display", serif;
}
nav > div:nth-child(2) > a {
  margin: 0 0.5vw;
  padding: 0.5vw;
}
nav > div:nth-child(2) > a:hover {
  background-color: #1e395717;
  border-radius: 0.5vw;
}
.nav-resistance {
  height: 6vw;
  width: 100%;
}
div.slide1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "playfair display sc", serif;
  font-size: 7vw;
  width: 100%;
  height: calc(100vh - 6vw);
  background-color: var(--light);
}
div.slide1 img {
  z-index: 0;
  width: 30vw;
  opacity: 0.2;
  position: absolute;
}
div.slide1 h1,
div.slide1 h2 {
  margin: 0;
  font-weight: 100;
  z-index: 1;
}
h1 {
  font-size: 7vw;
}
h2 {
  font-size: 3vw;
  font-weight: 200;
}
