@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Playfair+Display+SC&display=swap");
:root {
  --light: #f5f7fa;
  --dark: #000000;
  --gold: #cea263;
  --accent-light: #1e3957;
  --accent-dark: #0f1f2f;
  --lightw: #fffffd;
}
* {
  scroll-behavior: smooth;
  scroll-margin-top: 8vw;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: var(--accent-light);
}
html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar {
  width: 1vw;
}
body::-webkit-scrollbar-track {
  background-color: var(--light);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--accent-light);
  border-radius: 50px;
  border: 0.3vw solid var(--light);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-dark);
  cursor: pointer;
  border: 0.25vw solid var(--light);
}
nav {
  position: fixed;
  display: grid;
  grid-template-columns: 30% 70%;
  z-index: 10000;
  background-color: transparent;
  width: 100%;
  height: 6vw;
  transition: all 0.5s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2vw;
}
nav > div:nth-child(1) {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: var(--light);
  font-size: 2vw;
  transition: all 0.5s ease-in-out !important;
}
nav > div:nth-child(1) > a > img {
  height: 5vw;
  margin: 0 1.25vw 0 4.5vw;
  filter: brightness(0) invert(1);
  transition: all 0.5s ease-in-out;
}
nav > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 4.5vw;
  color: var(--light);
  transition: all 0.5s ease-in-out, color 0s ease-in-out;
  transition-delay: 0ms;
}
nav > div:nth-child(2) > a {
  margin: 0 0.6vw;
  padding: 0.8vw 0.9vw;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}
nav > div:nth-child(2) > a:hover {
  background-color: #1e395717;
  box-sizing: border-box;
}
nav > div:nth-child(2) > a:active {
  border: 1px solid var(--gold);
  transition: all 3ms ease-in-out;
}
nav > div:nth-child(2) > a:last-child {
  background-color: var(--gold);
  color: var(--light);
  padding: 0.7vw 2vw;
  border: var(--gold) 1px solid;
  box-sizing: border-box;
}
nav > div:nth-child(2) > a:last-child:hover {
  background-color: var(--accent-dark);
  color: var(--light);
  border: var(--light) 1px solid;
}
.fixed-header {
  background-color: #fffffdee;
  box-shadow: var(--dark) 0 0 10px;
}
a.nav-active {
  border-bottom: var(--light) 1px solid;
  box-sizing: border-box;
}
.scrolled-active {
  border: var(--accent-light) 1px solid !important;
  padding: calc(0.8vw - 1px) calc(0.9vw - 1px) 0.8vw calc(0.9vw - 1px) !important;
}
.linkies-active {
  align-items: center;
  justify-content: center;
  color: var(--dark) !important;
  border-color: var(--accent-light);
}
.bg-active {
  filter: none !important;
}
.logo-active {
  filter: brightness(1) invert(0) drop-shadow(1px 1px 10px var(--light)) !important;
}
.logo2-active {
  color: var(--accent-light);
}
.nav-resistance {
  height: 6vw;
  width: 100%;
}
h1 {
  font-size: 4.5vw;
  font-weight: 1000 !important;
}
h2 {
  font-size: 1.5vw;
  font-weight: 300;
}
h3 {
  font-family: "playfair display sc", serif;
  font-size: 4vw;
  font-weight: bold;
  text-transform: uppercase;
}
h4 {
  font-size: 1.5vw;
  font-weight: lighter;
}
div.slide1,
div.slide2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  background-color: var(--light);
}
div.slide1 {
  align-items: left;
  justify-content: center;
  font-size: 7vw;
  filter: brightness(0.97);
  color: var(--light);
  height: 100vh;
}
div.slide1 img {
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
div.slide1 a {
  z-index: 1;
  margin: 4vw 77vw 0 5vw;
}
div.slide1 > a > span {
  z-index: 1;
  position: absolute;
  font-size: 5vw;
  top: 90vh;
  left: 47vw;
  animation: arrow 2s 0s linear infinite;
  transform: translateY(-1vw);
  user-select: none;
}
div.slide1 > a:hover {
  color: inherit;
}
@keyframes arrow {
  0% {
    transform: translateY(-2vw);
    opacity: 1;
  }
  100% {
    transform: translateY(1vw);
    opacity: 0;
  }
}
div.slide1 h1,
div.slide1 h2 {
  margin: 2vw 45vw 0 5vw;
  z-index: 1;
  transition: all 0.7s ease-in-out;
  font-family: "Montserrat", sans-serif;
}
div.slide1 h1 {
  margin-top: 20vh;
}
div.slide2 {
  align-items: flex-start;
  text-align: left;
  height: auto;
  background-color: var(--lightw);
}
div.slide2 > a {
  margin: 2vw 3vw;
}
div.slide2 h3 {
  margin: 0 -1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.slide2 h4 {
  margin: 0.5vw 4vw;
  font-family: "playfair display", serif;
}
div.slide2 h4 br {
  margin: 2vw 0;
}
div.slide2 h3::before {
  transition: all 0.5s ease-in-out;
  content: "double_arrow";
  margin-left: -1.3vw;
  color: transparent;
  font-family: "material symbols outlined";
}
div.slide2 a:hover h3::before {
  margin-left: 2vw;
  margin-right: 1vw;
  color: var(--text-color);
}
.main-button {
  z-index: 1;
  padding: 1.25vw 1.5vw;
  font-size: 1.5vw;
  font-weight: 400;
  background-color: var(--light);
  box-sizing: border-box;
  color: var(--accent-dark);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-button:hover {
  transform: translateY(-0.25vw);
}
.slide-divide {
  display: grid;
  width: 100%;
  height: 60vh;
  margin-top: -1vw;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}
.slide-divide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 3vw;
}
.slide-divide > div:nth-child(1) {
  font-family: "playfair display sc", serif;
  border-right: var(--accent-dark) 0.3vw solid;
  font-size: 6vw;
  font-weight: 900;
}
.slide-divide > div:nth-child(2) {
  font-family: "playfair display", serif;
  font-size: 3vw;
  font-weight: 200;
}
.swiper {
  width: 100%;
  height: 50vh;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 15px;
}
.swiper-slide img {
  height: 30%;
  object-fit: cover;
}
.swiper-slide > p:nth-child(2) {
  font-size: 3vw;
  font-family: "playfair display sc", serif;
}
.swiper-slide > p:nth-child(3) {
  font-size: 1vw;
  font-family: "playfair display", serif;
}
